body {
  font-family: 'Segoe UI';
  background-color: #f4f6f9;
}

.navbar-custom {
  background: #1e293b;
  padding: 12px;
}

.navbar-custom a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.navbar-custom a:hover {
  color: #38bdf8;
}

.btn-custom {
  background: #0ea5e9;
  color: white;
}
